body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 800px;
  margin: 64px auto;
  text-align: center;
}

footer {
  width: 800px;
  margin: 32px auto;
}

#content {
  width: 800px;
  margin: 0 auto;
}

.logo {
    height: 100px;
    width: 350px; /* TODO: Fix that so that its centered without specifying width*/
    margin: 0 auto;
    background-image: url("../img/logo-diamonds.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.gallery-item {
  margin: 16px 0;
  height: 150px;
  position: relative;
  border: 1px solid;
  border-color: #aaa;
  overflow: hidden;
}

.item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.item-label {
  z-index: 100;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  text-align: left;
  color: #444;
  padding: 16px;
  background: rgba(225, 225, 225, 0.8);
}
