html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  /*background-color: black;*/
}

#content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
}

.zinnia {
  position: fixed;
  stroke-width: 0;
  /*fill: white;*/
}

#zinnia1 {
  animation-name: zinnia1anim;
  animation-duration: 24s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#zinnia2 {
  animation-name: zinnia2anim;
  animation-duration: 16s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes zinnia1anim {
  100% {
    transform: rotate(-1080deg);
  }
}

@keyframes zinnia2anim {
  50% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(180deg);
  }
}