@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

.card {
  cursor: pointer;
}

.card-name {
  font-family: "Playwrite IT Moderna", cursive;
  font-weight: 200;
}
